#grad {
    height: 649px;
    background-image: linear-gradient(to bottom right, red, yellow, green);
}

#home{
    font-size: 1.3em;
    padding: 1em;
    border-radius: 25px;
    background-color: #0a0027;
    font-family:Comic Sans MS;
    color: #ffffff;
    border: none;
    position: relative;
    display: block;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 500px) {
    #grad {
        height: 632px;
        background-image: linear-gradient(to bottom right, red, yellow, green);
    }
    #home{
        margin-top: 90px;
    }
    #winner{
        margin-top: -50px;
        margin-bottom: -75px;
    }
}  